body {
	min-height: 900px;
	padding-bottom: 70px;
}

.content {
	min-height: 900px;
}

li {
	list-style: none;
}

.container-fluid .row {
	padding: 10px 0;
}

.jumbotron {
	margin-top: 15px;
}

footer {
	margin-top: 50px;
	min-height: 150px;
}