.content {
    min-height: 600px;
}

li {
    list-style: none;
}

.container-fluid .row {
    padding: 10px 0;
}

.jumbotron {
    margin-top: 15px;
}

footer {
    background-color: #e1e1e1;
    width: 95%;
    min-height: 150px;
    margin: 0 auto;
    font-size: 60%;
    border-top-right-radius: 200px;
}
